body {
  background-color: #ebf4f3;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.mainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  max-width: 600px;
  margin: 60px auto 0;
}

.mainTitle {
  margin: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #12ba9e;
  color: #fff;
  font-size: 32px;
  text-align: center;
}
